<!DOCTYPE html>
<html>
    <head>
        <title>Negin's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Negin's Blog</a></h1>
        </header>
        <article>
            <time>published: 11.25.2023, 9:25</time>
            <h2><a href="">My first post</a></h2>
            <p>Hi there!</p>
        </article>
        <br>
        <br>
        <article>
            <time>published: 11.25.2023, 9:26</time>
            <h2><a href="">My second post</a></h2>
            <p>It works!</p>
        </article>        
    </body>
</html>